.task-buttons {
    justify-content: flex-end;
    border-bottom: thin solid #DDD;
    padding-bottom: 15px;
    margin-bottom: 11px;
}

.task-buttons .btn {
    padding: 2.5px 20px;
    margin: 0 2.5px;
}

.card {
    margin-bottom: 5px;
}
